body {
  background-color: #bde0fe;
}

#form, #header  {
  /* border: 2px solid red; */
  max-width: 85%;
  border-radius: 5px;  
}
#header {
  margin-top: 20px;
}

#header {
  margin-bottom: 10px;
}

#full-name, #email, #data {
  max-width: 350px;
}