h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

.cor-de-fundo {
    background-color: aqua;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

ul {
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}