body {
  background-color: rgb(143, 216, 173);
  font-family: monospace;
}
h1 {
  text-align: center;
}
.formulario {
  margin: auto;
  border: 2px solid rgb(0, 195, 255);
  width: 350px;
  padding: 2%;
  background-color: aquamarine;
  border-radius: 10% 0 10% 0;
  
}

.buttons {
  background-color: bisque;
  padding: 3%;
  width: 121px;
}

#button-enviar, #button-apagar{
  border-radius: 15%;
}

#button-enviar {
  background-color: rgb(0, 255, 85);
}